/* start of variables */
:root {
    --main-color: #19c8fe;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding-top: 100px;
    --section-padding-bottom: 100px;
}
/* end of variables */

/* start of global rules ....................................................*/
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}
/* default style for any container */
.container {
    padding: 0 15px;
    margin: 0 auto;
}

/* three media query */
/* small screen  */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* medium screen  */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* large screen  */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* end of global rules ....................................................*/

/* start of components will use more than one time */

/* start main-heading */
.main-heading {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 100px;
}
.main-heading h2 {
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 70px;
    position: relative;
}
.main-heading h2::before {
    content: "";
    position: absolute;
    width: 120px;
    height: 2px;
    background-color: black;
    left: 50%;
    top: 150%;
    transform: translateX(-50%);
}
.main-heading h2::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: white;
    border: 2px solid black;
    border-radius: 50%;
    left: 50%;
    top: 150%;
    transform: translate(-50%, -50%);
}
.main-heading p {
    min-width: 350px;
    max-width: 550px;
    padding: 15px;
    text-align: center;
    color: #777777;
    line-height: 1.6;
}
/* end main-heading */

/* start of over-lay  */
.over-lay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}
/* end of over-lay  */

/* end of components will use more than one time */

/* start of header  */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20vh;
    position: relative;
}
header .container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 15px;
    background-color: white;
    height: 1px;
    width: calc(100% - 30px);
}
header .container .logo {
    width: 120;
    height: 40px;
}
header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header nav #toggle-menu {
    font-size: 22px;
    padding: 15px 0 15px 15px;
    color: white;
}
@media (min-width: 768px) {
    header nav #toggle-menu {
        display: none;
    }
}
nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@media (max-width: 767px) {
    header nav ul {
        display: none;
    }
    header .container {
        height: 12vh;
    }
}
header nav #toggle-menu:hover + ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(0, 0, 0, 50%); 
}
header nav #toggle-menu:hover + ul li a {
    padding: 15px;
}
nav ul li a {
    display: flex;
    align-items: center;
    padding: 40px 15px;
    text-decoration: none;
    font-size: 14px;
    color: white;
}
nav ul li:hover {
    border-bottom: 1px solid var(--main-color);
    z-index: 1;
    color: var(--main-color);
}
nav ul li a:hover {
    color: var(--main-color);
    transition: 0.3s;
}
nav ul li:first-child {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
    z-index: 1;
}
nav ul li:first-child a {
    color: var(--main-color);
}
nav span {
    padding-left: 15px;
    margin-left: 15px;
    border-left: 2px solid white;
    color: white;
}
/* end of header  */

/* start of landing  */
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: 100vh;
    position: relative;
}
.landing .overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 50%);
}
.landing .overlay .text {
    background-color: var(--transparent-color);
    width: 50%;
    padding: 51px;
    color: white;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1.5;
}
.landing .overlay .text .content {
    display: flex;
    flex-direction: column;
}
@media (max-width: 992px) {
    .landing .overlay .text {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .landing .overlay .text {
        text-align: center;
    }
}
.landing .overlay .text .content h2 {
    font-size: 32px;
    font-weight: normal;
    margin-bottom: 20px;
}
.landing .overlay .text .content p {
    font-size: 14px;
    line-height: 1.8;
}
.landing .arrows {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0 25px;
    font-size: 25px;
}
@media (max-width: 767px) {
    .landing .arrows {
        display: none;
    }
}
.landing .bullets {
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.landing .bullets li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 5px;
}
.landing .bullets li:nth-child(2) {
    background-color: var(--main-color);
    border: none;
}
/* end of landing  */

/* start of services  */
.services {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
}
.services section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 50px;
}
.services section .serv {
    display: flex;
    justify-content: space-between;
}
@media (max-width: 768px) {
    .services section .serv {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .services section .serv i {
        padding: 25px;
    }
}
.services section .serv i {
    font-size: 50px;
}
.services section .serv .text {
    padding: 0 30px;
}
.services section .serv .text h3 {
    color: var(--main-color);
}
.services section .serv .text p {
    color: #777777;
    line-height: 1.8;
    padding: 15px 0;
}
/* end of services  */

/* start of design section  */
.design {
    background-image: url(../images/design-features.jpg);
    height: 100vh;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
.design img {
    position: absolute;
    left: 7%;
    bottom: -25%;
}
@media (max-width: 830px) {
    .design img {
        display: none;
    }
}
.design .over-lay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.5);
}
.design .text {
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
@media (max-width: 830px) {
    .design .text {
        width: 100%;
    }
}
.design .text h3 {
    font-size: 24px;
    font-weight: normal;
    margin-bottom: 40px;
}
.design .text p {
    padding: 15px 0;
}
.design .text p i {
    margin-right: 15px;
}
/* end of design section  */

/* start of portfolio  */
.portfolio {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
}
.portfolio ul {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio ul li {
    padding: 10px;
}
.portfolio ul li:first-child {
    background-color: var(--main-color);
}
.portfolio .images {
    display: flex;
    flex-wrap: wrap;
}
.portfolio .images .box {
    overflow: hidden;
    height: 70vh;
    margin-bottom: 3px;
    position: relative;
}
@media (max-width: 767px) {
    .portfolio .images .box {
        flex-basis: 100%;
    }
}
@media (min-width: 768px) {
    .portfolio .images .box {
        flex-basis: 50%;
    }
}
@media (min-width: 1199px) {
    .portfolio .images .box {
        flex-basis: 25%;
    }
}
.portfolio .images .box img {
    width: 100%;
    height: 100%;
    transition: 0.5s;
}
.portfolio .images .box .text {
    transition: 0.5s;
    width: 100%;
    height: 30%;
    background-color: white;    
    line-height: 1.6;
    padding: 20px;
    position: absolute;
    top: 100%;
    left: 0;
}
.portfolio .images .text h4 {
    font-weight: normal;
}
.portfolio .images .text p {
    color: var(--main-color);
}
.portfolio .images .box img:hover {
    transform: scale(1.1) rotate(3deg);
}
.portfolio .images .box img:hover + .text {
    transform: translateY(-100%);
}
.portfolio .more {
    padding: 15px 20px;
    color: white;
    background-color: var(--main-color);
    text-decoration: none;
    display: block;
    width: fit-content;
    margin: 20px auto;
}
/* end of portfolio  */

/* start of video section  */
.video {
    position: relative;
}
.video video {
    width: 100%;
}
.video .text {
    width: 100%;
    background-color: var(--transparent-color);
    color: white;
    text-align: center;
    padding: 30px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
} 
@media (max-width: 768px) {
    .video .text {
        padding: 10px;
    }
}
.video .text h4 {
    font-size: 20px;
    font-weight: normal;
}
.video .text p {
    margin: 20px;
}
.video .text a {
    display: inline-block;
    text-decoration: none;
    width: fit-content;
    height: fit-content;
    padding: 10px 20px;
    background: black;
    color: white;
}
/* end of video section  */

/* start of about section  */
.about {
    padding-top: var(--section-padding-top);
    overflow: hidden;
    text-align: center;
}
@media (max-width: 768px) {
    .about .image {
        margin-bottom: 50px;
    }
}
@media (max-width: 992px) {
    .about .image {
        margin-bottom: 20px;
    }
}
.about img {
    max-width: 100%;
    transform: translateY(120px);
    margin-top: -120px;
}
/* end of about section  */

/* start of statics */
.statics {
    position: relative;
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    background-image: url(../images/stats.png);
    background-size: cover;
    text-align: center;
}
.statics::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.75);
}
.statics .content {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}
.statics .content .text {
    width: 25%;
    padding: 50px;
    background-color: var(--transparent-color);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
@media (max-width: 992px) {
    .statics .text {
        flex-basis: 50%;
    }
}
@media (max-width: 767px) {
    .statics .text {
        flex-basis: 100%;
    }
}
.statics .text i {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.statics .text .number {
    margin: 20px 0;
    font-size: 50px;
    font-weight: bold;
}
.statics .text p {
    font-size: 14px;
}
/* end of statics */

/* start of our skills */
.our-skills {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
}
.our-skills section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 100px;
}
.our-skills .left h3,
.our-skills .right h3 {
    text-align: center;
    text-transform: uppercase;
    font-weight: normal;
    margin-bottom: 30px;
}
.our-skills .left p, 
.our-skills .right p {
    text-align: center;
    margin-bottom: 50px;
    color: #777;
    line-height: 1.6;
}
.our-skills .left .content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.our-skills .left .content img {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 50px;
}
.our-skills .left .content .text {
    line-height: 1.6;
    border-bottom: 1px solid #777;
}
.our-skills .left .content .text p {
    color: #777;
    font-size: 14px;
    text-align: end;
    padding: 10px 0;
    margin-bottom: 0;
}
.our-skills .left .bullets {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.our-skills .left .bullets span {
    width: 15px;
    height: 15px;
    margin: 0 5px;
    border: 1px solid #777;
    border-radius: 50%;
}
.our-skills .left .bullets span:nth-child(2) {
    border: none;
    background-color: var(--main-color);
}
.our-skills .right .content .progress h4 {
    margin-bottom: 15px;
    font-weight: normal;
    text-transform: uppercase;
}
.our-skills .right .content .progress .prog {
    height: 30px;
    margin-bottom: 40px;
    background-color: #dedadc;
    position: relative;
}
.our-skills .right .content .progress .prog span {
    position: absolute;
    height: 30px;
    background-color: var(--main-color);
}
.our-skills .right .content span::before {
    content: attr(data-progress);
    position: absolute;
    top: calc(-100% - 5px);
    left: 100%;
    transform: translateX(-50%);
    width: 30px;
    padding: 3px;
    background-color: black;
    color: white;
}
.our-skills .right .content span::after {
    content: "";
    position: absolute;
    top: -11px;
    left: 100%;
    transform: translateX(-50%);
    border-top: 5px solid black;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
}
@media (max-width: 768px) {
    .our-skills section {
        display: flex;
        align-items: center;
        flex-flow: column wrap;
    }
    .our-skills .left .content {
        flex-flow: column wrap;
        text-align: center;
        align-items: center;
    }
    .our-skills .left .content img {
        margin: 0 0 15px 0;
    }
}
/* end of our skills */

/* start of quote */
.quote {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
    position: relative;
    background-image: url(../images/quote.jpg);
    background-size: cover;
}
.quote::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.7);
}
.quote .content {
    text-align: center;
    color: white;
    font-size: 30px;
    position: relative;
    z-index: 1;
}
.quote .content p {
    margin-top: 15px;
    font-size: 14px;
}
/* end of quote */

/* start of prices  */
.prices {
    padding-top: var(--section-padding-top);
    padding-bottom: var(--section-padding-bottom);
}
/* end of prices  */